@using CmsProject.Models.Blocks.ArticleList
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using System.Diagnostics
@using MoreLinq
@model ArticleListViewModel

<div class="container-fluid ArticleListblock">

    <div class="row align-items-center" style="margin-bottom:40px">

        <div class="col-3"></div>
        <div class="col article-intro-text">@Html.PropertyFor(x=>x.CurrentBlock.IntroText)</div>
        <div class="col-4"></div>
    </div>

    <div class="row align-items-center">

        @*SPACER*@
        <div class="col-2"></div>

        <div class="col-8">
            <div class="row row-cols-2" data-masonry='{"percentPosition": true }'>

                @foreach (var item in Model.CurrentBlock.ArticleListItems)
                {
                    var link1 = item?.Link?.FirstOrDefault()?.Href ?? string.Empty;
                    var margin = "margin-left:auto;margin-right:auto;margin-bottom:200px;";

                    @*BOX*@
                    <div class="col" style="@margin">
                        <a href="@link1">
                            <img src="@Url.ContentUrl(item.ArticleImage)" class="articleimg" />
                        </a>

                        <div class="col-12 article-text">
                            @Html.PropertyFor(x=> item.Text)
                        </div>
                    </div>                   
                }
            </div>
        </div>

        @*SPACER*@
        <div class="col-2"></div>

    </div>



</div>





